**/bin/
**/obj/
**/node_modules/
**/dist/
**/target/

**/*.db
**/*.db-shm
**/*.db-wal

**/*.rar
**/*.zip
**/*.zip.zip

.env
.env.*
secrets.json
**/secrets.json

*.pfx
*.p12
*.key

.vscode/
.idea/

Flashback.DownloadServer/wwwroot/**
Flashback.Launcher/Assets/**

Thumbs.db
Desktop.ini

Flashback.Launcher.Tauri/
